<form class="password" method='POST' action='/profile/change-password'>
  {{> csrf . }}
  <input type="hidden" name="userId" value="{{user.id}}" />

  <div class='input-field'>
    <input name='password' type='password' class='validate' placeholder="New password" />
  </div>

  <div class='input-field valign-wrapper'>
    <button type="submit" class="btn-flat"><i class="material-icons teal-text">send</i></button>
  </div>
</form>
