{{#if (isNotEmpty message)}}
	<div class="materialert">
		<i class="material-icons">check_circle</i>
		<span>
			{{#if (isArray message) }}
				{{arrayToString message}}
			{{else}}
				{{message}}
			{{/if}}
		</span>
	</div>
{{/if}}
