{{#if (isNotEmpty message)}}
	<div class="materialert error">
		<div class="material-icons">error_outline</div>
		<span>
			{{#if (isArray message) }}
				{{arrayToString message}}
			{{else}}
				{{message}}
			{{/if}}
		</span>
	</div>
{{/if}}
