{{#if (isNotEmpty message)}}
	<div class="materialert warning">
			<div class="material-icons">warning</div>
		<span>
			{{#if (isArray message) }}
				{{arrayToString message}}
			{{else}}
				{{message}}
			{{/if}}
		</span>
	</div>
{{/if}}
